[Desktop Entry]
Name=Nihilistcoin
Comment=Nihilistcoin P2P Cryptocurrency
Comment[fr]=Nihilistcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nihilistcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/nihilistcoin
Terminal=false
Type=Application
Icon=nihilistcoin
MimeType=x-scheme-handler/nihilistcoin;
Categories=Office;Network;
